zhcg.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="wsdltest"
                  targetNamespace="http://localhost:8000/wsdltest"
                  xmlns="http://localhost:8000/wsdltest"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:message name="ProcessInput">
        <wsdl:part name="SPID" type="xs:string"/>
        <wsdl:part name="SPPWD" type="xs:string"/>
		<wsdl:part name="func" type="xs:string"/>
        <wsdl:part name="request" type="xs:string"/>
    </wsdl:message>
	<wsdl:message name="ProcessOutput">
        <wsdl:part name="request" type="xs:string"/>
    </wsdl:message>
	
	<wsdl:message name="sumarRequest">
        <wsdl:part name="a" type="xs:string"/>
        <wsdl:part name="b" type="xs:string"/>
    </wsdl:message>

    <wsdl:message name="multiplicarRequest">
        <wsdl:part name="a" type="xs:string"/>
        <wsdl:part name="b" type="xs:string"/>
    </wsdl:message>

    <wsdl:message name="multiplicarResponse">
        <wsdl:part name="res" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="sumarResponse">
        <wsdl:part name="res" type="xs:string"/>
    </wsdl:message>


    <wsdl:portType name="calcP">
        <wsdl:operation name="sumar">
            <wsdl:input message="sumarRequest"/>
            <wsdl:output message="sumarResponse"/>
        </wsdl:operation>

        <wsdl:operation name="multiplicar">
            <wsdl:input message="multiplicarRequest"/>
            <wsdl:output message="multiplicarResponse"/>
        </wsdl:operation>
		
		<wsdl:operation name="process">
            <wsdl:input message="ProcessInput"/>
            <wsdl:output message="ProcessOutput"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="calcB" type="calcP">
        <soap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>

		<wsdl:operation name="process">
            <soap:operation soapAction="process"/>
            <wsdl:input>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
					  
        <wsdl:operation name="sumar">
            <soap:operation soapAction="sumar"/>
            <wsdl:input>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="multiplicar">
            <soap:operation soapAction="multiplicar"/>
            <wsdl:input>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ws">
        <wsdl:port name="zj_zhcg" binding="calcB">
            <soap:address location="http://localhost:8004/wsdltest"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
